attrs
backoff
bcrypt
beautifulsoup4
blinker
build
cachetools
certifi
charset-normalizer
chromadb
click
colorama
coloredlogs
dataclasses-json
defusedxml
distro
dnspython
duckduckgo-search
durationpy
fastapi
filelock
flask
flask-cors
flask-pymongo
flatbuffers
frozenlist
fsspec
functorch
google-generativeai
google-auth
google-auth-httplib2
google-api-core
grpcio
grpcio-status
h11
httpcore
httplib2
httptools
httpx
httpx-sse
huggingface-hub
humanfriendly
idna
importlib-metadata
importlib-resources
itsdangerous
jinja2
jiter
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
kubernetes
langchain
langchain-community
langchain-core
langchain-groq
langchain-text-splitters
langgraph
langgraph-sdk
langsmith
lxml
markdown-it-py
markupsafe
marshmallow
mdurl
mmh3
mpmath
multidict
multipart
mypy-extensions
networkx
numpy
oauthlib
onnxruntime
openai
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
orjson
ormsgpack
overrides
packaging
pandas
pillow
platformdirs
posthog
propcache
proto-plus
protobuf
pyasn1
pyasn1-modules
pybase64
pydantic
pydantic-core
pydantic-settings
pydub
pygments
pymongo
pymupdf
pyparsing
pypdf
pypdf2
pypika
pyproject-hooks
pyreadline3
python-dateutil
python-docx
python-dotenv
python-multipart
pytz
pyyaml
referencing
regex
requests
requests-oauthlib
requests-toolbelt
rich
rpds-py
rsa
safetensors
scikit-learn
scipy
sentence-transformers
shellingham
six
sniffio
soundfile
speechrecognition
sqlalchemy
starlette
sympy
tenacity
threadpoolctl
tokenizers
torch
tqdm
transformers
typer
typing-extensions
typing-inspect
tzdata
uritemplate
urllib3
uvicorn
watchfiles
websocket-client
websockets
werkzeug
wikipedia
Wikipedia-API
xxhash
yarl
youtube-transcript-api
zipp
zstandard